version: "3.8"

services:
  mongo:
    container_name: mongodb
    image: mongo
    command: ["mongod", "--quiet"]
    restart: always
    volumes:
      - expense-manager:/data/db

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    # 2. OVERRIDE the DB Connection for Docker specifically
    environment:
      - MONGODB_URI=mongodb://mongo:27017/expense-tracker
    depends_on:
      - mongo

volumes:
  expense-manager:
